@charset "utf-8";

/* フォント読み込み */
@font-face {
    font-family: 'Gn3';
    src: url(/font/genshingothic-20150607/GenShinGothic-P-Medium.ttf);
}

@font-face {
    font-family: 'NSJ';
    src: url(/font/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'KB';
    src: url(/font/Koruri-20210720/Koruri-Bold.ttf);
}

@font-face {
    font-family: 'KE';
    src: url(/font/Koruri-20210720/Koruri-Extrabold.ttf);
}

@font-face {
    font-family: 'KL';
    src: url(/font/Koruri-20210720/Koruri-Light.ttf);
}

@font-face {
    font-family: 'KR';
    src: url(/font/Koruri-20210720/Koruri-Regular.ttf);
}

@font-face {
    font-family: 'KS';
    src: url(/font/Koruri-20210720/Koruri-Semibold.ttf);
}

@media screen and (min-width: 1280px) {

    /* リセット */
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .services {
        padding-top: 200px;
    }

    .services ul {
        text-align: center;
    }

    .services ul li {
        font-family: "KS";
        font-size: 18px;
        list-style: none;
        display: inline-block;
        margin: auto;
        margin-left: 30px;
        margin-right: 30px;
        transition: all 0.2s;
        border-bottom: 2px solid rgb(255, 56, 56);
    }

    .services ul li:hover {
        opacity: 0.5;
    }

    .services ul li a {
        color: rgb(255, 56, 56);
    }

    .delivery {
        margin-top: 100px;
    }

    .delivery .delivery-text {
        position: relative;
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-family: "KB";
        text-align: center;
        padding: 10px 10px;
        background-color: rgb(255, 75, 75);
    }

    .delivery .DLPR-text {
        position: relative;
        font-size: 25px;
        font-family: "KB";
        text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .delivery .DLPR-text .DLPR-text-span1 {
        color: red;
        font-size: 30px;
    }

    .delivery .DLPR-text .DLPR-text-span2 {
        color: red;
        font-size: 30px;
    }

    .delivery .DLPR-text2 {
        color: red;
        position: relative;
        font-size: 35px;
        font-family: "KB";
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;

    }

    .delivery-content {
        display: flex;
        position: relative;
        margin-top: 30px;
        margin-bottom: 100px;
        margin: 0 0 100px 300px;
    }

    .delivery .delivery-content table tr th {
        font-size: 20px;
    }

    .delivery .delivery-content .delivery-img {
        margin-left: 200px;
    }

    .gyomu {
        margin-top: 100px;
    }

    .gyomu .gyomu-text {
        color: rgb(255, 255, 255);
        position: relative;
        font-size: 50px;
        font-family: "KB";
        text-align: center;
        margin-top: 15px;
        padding: 10px 10px;
        background-color: rgb(255, 75, 75);
    }

    .gyomu .GMPR-text {
        color: rgb(0, 0, 0);
        position: relative;
        font-size: 25px;
        font-family: "KB";
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
        padding-left: 100px;
        padding-right: 100px;

    }

    .gyomu .gyomu-img {
        position: relative;
        margin: auto;
        width: 50%;
    }

    .GMPR-text-span1 {
        color: red;
        font-size: 30px;
    }

    .GMPR-text-span2 {
        color: red;
        font-size: 30px;
    }

    .sonota {
        margin-top: 100px;
        margin-bottom: 200px;
    }

    .sonota-text {
        color: rgb(255, 255, 255);
        position: relative;
        font-size: 50px;
        font-family: "KB";
        text-align: center;
        margin-top: 15px;
        padding: 10px 10px;
        background-color: rgb(255, 75, 75);
    }

    .sonota {
        display: flex;
    }

    .sonota .kuri-ningu {
        margin: 0 0 0 20px;
        padding: 0;
    }

    .sonota .kuri-ningu-title {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        font-weight: bold;
        font-size: 25px;
        color: red;
    }

    .sonota .sonota-kuriimg {
        width: 640px;
        /*画像サイズ指定*/
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
    }

    .sonota .kuri-ningu-content {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 18px;
    }

    .sonota .sonota-kuriimg {
        overflow: hidden;
        position: relative;
    }

    .sonota .sonota-kuriimg::before {
        content: "";
        display: block;
        padding-top: 58%;
    }

    .sonota .sonota-kuriimg img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .sonota .sonota-kuriimg {
        display: block;
        padding-left: 100px;
        width: 30%;
    }
    
    .crad-bags {
        display: flex;
        margin-bottom: 200px;
    }

    .crad-bags .crad-bag{
        margin: 0 0 0 20px;
        padding: 0;
    }

    .crad-bags .crad-bag .crad-bag-title {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        font-weight: bold;
        font-size: 25px;
        color: red;
    }

    .crad-bags .crad-bag-img {
        width: 550px;
        /*画像サイズ指定*/
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
    }

    .crad-bags .crad-bag .crad-bag-content {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 18px;
    }

    .crad-bags .crad-bag-img {
        overflow: hidden;
        position: relative;
    }

    .crad-bags .crad-bag-img::before {
        content: "";
        display: block;
        padding-top: 58%;
    }

    .crad-bags .crad-bag-img img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .crad-bags .crad-bag-img {
        display: block;
        padding-left: 100px;
        width: 30%;
    }

    .hangers {
        display: flex;
        margin-bottom: 100px;
    }

    .hangers .hanger{
        margin: 0 0 0 20px;
        padding: 0;
    }

    .hangers .hanger .hanger-title {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        font-weight: bold;
        font-size: 25px;
        color: red;
    }

    .hangers .hanger-img {
        width: 550px;
        /*画像サイズ指定*/
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
    }

    .hangers .hanger .hanger-content {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 18px;
    }

    .hangers .hanger-img {
        overflow: hidden;
        position: relative;
    }

    .hangers .hanger-img::before {
        content: "";
        display: block;
        padding-top: 58%;
    }

    .hangers .hanger-img img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .hangers .hanger-img {
        display: block;
        padding-left: 100px;
        width: 30%;
    }
    .tableWrap th {
        background: #eee;
    }

    .tableWrap,
    td,
    th {
        border: 1px solid #ccc;
        border-collapse: collapse;
    }

    .tableWrap th,
    .tableWrap td {
        text-align: center;
        min-width: 130px;
        padding: 10px;
        height: 50px;
    }
}

@media screen and (max-width: 1279px) {
    body {
        background-color: aqua;
    }
}