@charset "utf-8";

/* フォント読み込み */
@font-face {
    font-family: 'Gn3';
    src: url(/font/genshingothic-20150607/GenShinGothic-P-Medium.ttf);
}

@font-face {
    font-family: 'NSJ';
    src: url(/font/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'KB';
    src: url(/font/Koruri-20210720/Koruri-Bold.ttf);
}

@font-face {
    font-family: 'KE';
    src: url(/font/Koruri-20210720/Koruri-Extrabold.ttf);
}

@font-face {
    font-family: 'KL';
    src: url(/font/Koruri-20210720/Koruri-Light.ttf);
}

@font-face {
    font-family: 'KR';
    src: url(/font/Koruri-20210720/Koruri-Regular.ttf);
}

@font-face {
    font-family: 'KS';
    src: url(/font/Koruri-20210720/Koruri-Semibold.ttf);
}

@media screen and (min-width: 1280px) {

    /* リセット */
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .fee {
        padding-top: 200px;
    }

    .fee .fee-text {
        position: relative;
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-family: "KB";
        text-align: center;
        padding: 10px 10px;
        margin-bottom: 100px;
        background-color: rgb(255, 75, 75);
    }

    .fee .fee-table {
        display: flex;
        position: relative;
        margin-top: 400px;
        margin-bottom: 100px;
        margin: 0 0 100px 300px;
    }

    .tableWrap th {
        background: #eee;
    }

    .tableWrap,
    td,
    th {
        border: 1px solid #ccc;
        border-collapse: collapse;
    }

    .tableWrap th,
    .tableWrap td {
        text-align: center;
        min-width: 130px;
        padding: 10px;
        height: 30px;
    }

    .fee .fee-table2 {
        display: flex;
        position: relative;
        margin-top: 400px;
        margin-bottom: 100px;
        margin: 0 0 15px 300px;
    }

    .tableWrap2 th {
        background: #eee;
    }

    .tableWrap2,
    td,
    th {
        border: 1px solid #ccc;
        border-collapse: collapse;
    }

    .tableWrap2 th,
    .tableWrap2 td {
        text-align: center;
        min-width: 130px;
        padding: 10px;
        height: 30px;
    }

    .fee .fee-text2 {
        position: relative;
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-family: "KB";
        text-align: center;
        padding: 10px 10px;
        margin-bottom: 100px;
        background-color: rgb(255, 75, 75);
    }

    .fee .simi-ase {
        margin-left: 300px;
        margin-bottom: 100px;
        font-family: "KB";
        font-size: 20px;
    }
}

@media screen and (max-width: 1279px) {
    body {
        background-color: aqua;
    }
}