@charset "utf-8";

/* フォント読み込み */
@font-face {
    font-family: 'Gn3';
    src: url(/font/genshingothic-20150607/GenShinGothic-P-Medium.ttf);
}

@font-face {
    font-family: 'NSJ';
    src: url(/font/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'KB';
    src: url(/font/Koruri-20210720/Koruri-Bold.ttf);
}

@font-face {
    font-family: 'KE';
    src: url(/font/Koruri-20210720/Koruri-Extrabold.ttf);
}

@font-face {
    font-family: 'KL';
    src: url(/font/Koruri-20210720/Koruri-Light.ttf);
}

@font-face {
    font-family: 'KR';
    src: url(/font/Koruri-20210720/Koruri-Regular.ttf);
}

@font-face {
    font-family: 'KS';
    src: url(/font/Koruri-20210720/Koruri-Semibold.ttf);
}

@media screen and (min-width: 1280px) {

    /* リセット */
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .storelist {
        padding-top: 200px;
    }

    .storelist .storelist-text {
        position: relative;
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-family: "KB";
        text-align: center;
        padding: 10px 10px;
        margin-bottom: 100px;
        background-color: rgb(255, 75, 75);
    }

    .storelist-all {
        padding-top: 400px;
    }

    .KL,
    .KTL,
    .OL,
    .AL,
    .SL,
    .KGL,
    .KUL,
    .SZL,
    .KTL,
    .STL,
    .KZL,
    .SOL,
    .TL {
        font-family: "KS";
        font-size: 25px;
    }

    .boxs {
    }

    .boxs .my-5 {
        display: flex;
        flex-wrap: wrap;
    }

    .boxs .Gmap {
        display: inline-block;
        font-family: "KS";
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Gmap {
        width: 25%;
    }

    .itiran {
        font-family: "KS";
        font-size: 20px;
    }
}