@charset "utf-8";

/* フォント読み込み */
@font-face {
    font-family: 'Gn3';
    src: url(/font/genshingothic-20150607/GenShinGothic-P-Medium.ttf);
}

@font-face {
    font-family: 'NSJ';
    src: url(/font/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'KB';
    src: url(/font/Koruri-20210720/Koruri-Bold.ttf);
}

@font-face {
    font-family: 'KE';
    src: url(/font/Koruri-20210720/Koruri-Extrabold.ttf);
}

@font-face {
    font-family: 'KL';
    src: url(/font/Koruri-20210720/Koruri-Light.ttf);
}

@font-face {
    font-family: 'KR';
    src: url(/font/Koruri-20210720/Koruri-Regular.ttf);
}

@font-face {
    font-family: 'KS';
    src: url(/font/Koruri-20210720/Koruri-Semibold.ttf);
}

@media screen and (min-width: 1280px) {

    /* リセット */
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .form-control {
        width: 150px;
        height: 35px;  
    }

    .mt {
        padding-top: 200px;
        padding-bottom: 70px;
        font-family: "KS";
        font-size: 100px;
        text-align: center;
    }
    
    .my-5 {
        padding-bottom: 70px;
    }

    .storelists {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 100px;
    }

    .storelist {
        padding-top: 200px;
    }

    .storelist .storelist-text {
        position: relative;
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-family: "KB";
        text-align: center;
        padding: 10px 10px;
        margin-bottom: 100px;
        background-color: rgb(255, 75, 75);
    }

    .storelist-all {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 226px;
    }

    .listspan,
    .OL,
    .AL,
    .SL,
    .KGL,
    .KUL,
    .SZL,
    .KTL,
    .STL,
    .KZL,
    .SOL,
    .TL {
        font-family: "KS";
        font-size: 25px;
    }

    .boxs {}

    .boxs .my-5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* 以降はレイアウトとは無関係です */
        background: rgb(255, 80, 80);
    }

    .Gmap {
        margin-bottom: 70px;
    }

    .itiran {
        font-family: "KS";
        font-size: 20px;
        margin-bottom: 20px;
        color: red;
    }

    .list-div {
        flex-basis: calc((100% - 20px) / 2);
        max-width: calc((100% - 20px) / 2);
        margin-top: 20px;
        /* 以降はレイアウトとは無関係です */
        text-align: center;
        background: rgb(255, 187, 187);
    }

    .list-t {
        margin: 15px 0;
    }
}