@charset "utf-8";

/* フォント読み込み */
@font-face {
    font-family: 'Gn3';
    src: url(/font/genshingothic-20150607/GenShinGothic-P-Medium.ttf);
}

@font-face {
    font-family: 'NSJ';
    src: url(/font/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'KB';
    src: url(/font/Koruri-20210720/Koruri-Bold.ttf);
}

@font-face {
    font-family: 'KE';
    src: url(/font/Koruri-20210720/Koruri-Extrabold.ttf);
}

@font-face {
    font-family: 'KL';
    src: url(/font/Koruri-20210720/Koruri-Light.ttf);
}

@font-face {
    font-family: 'KR';
    src: url(/font/Koruri-20210720/Koruri-Regular.ttf);
}

@font-face {
    font-family: 'KS';
    src: url(/font/Koruri-20210720/Koruri-Semibold.ttf);
}

/* リセット */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
}

/* お知らせバナー */
.NoticeBanner {
    z-index: 9998;
    position: fixed;
    display: block;
    width: 100%;
    background-color: rgb(255, 35, 35);
    overflow: hidden;
    font-size: 17px;
    font-family: 'KR';
}

.NoticeBanner .NoticeBanner-Content {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #ffffff;
    list-style: 30px;
    padding-left: 100%;
    white-space: nowrap;
    animation: animate-banner 30s linear infinite;
    transition: 0.3s;
}

.NoticeBanner .NoticeBanner-Content>* {
    display: inline-block;
}

.NoticeBanner-Content-Text {
    transition: 0.35s;
}

.NoticeBanner-Content-Text:hover {
    transform: scale(0.9);
    opacity: 50%;
}

@keyframes animate-banner {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* ナビゲーションバー */
.nav {
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 29.7px;
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: hsl(0, 0%, 100%);
    border-bottom: 4px solid rgb(255, 0, 0);

}

.nav ul {
    display: flex;
    justify-content: space-around;
    margin: auto;

}

.nav ul li {
    list-style: none;
    line-height: 50px;
    /* border-left: 2px solid rgb(165, 165, 165);
    border-right: 2px solid rgb(165, 165, 165); */
}

.nav ul li+li {
    border-left: 0px;
    /* border-right: 2px solid rgb(165, 165, 165); */
}

.nav ul li .nav-text {
    margin-right: 35px;
    margin-left: 35px;
    color: rgb(255, 48, 48);
    font-family: 'KS';
    font-size: 20px;
    transition: 0.3s;
    /* border-bottom: #ffffff solid 2px; */
}

.nav ul li .nav-text:hover {
    opacity: 50%;
    transform: scale(3.3);
}

.nav .menu-ultag {
    margin: 0;
}


.openbtn {
    /*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
    position: relative;
    background: #ff4d4d;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

/*ボタン内側*/
.openbtn span {
    display: inline-block;
    transition: all .4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 1.5px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
}

.openbtn span:nth-of-type(1) {
    top: 15px;
}

.openbtn span:nth-of-type(2) {
    top: 23px;
}

.openbtn span:nth-of-type(3) {
    top: 31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
    /*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

.gnavi {
    display: flex;
    flex-wrap: wrap;
    /*スマホ表示折り返し用なのでPCのみなら不要*/
    margin: 0 0 50px 0;
    list-style: none;
}

.gnavi li a {
    padding: 10px 30px;
    text-decoration: none;
    color: #333;
}

.gnavi li {
    margin-bottom: 20px;
}

.gnavi li a {
    /*円の基点とするためrelativeを指定*/
    position: relative;
}

.gnavi li.current a,
.gnavi li a:hover {
    color: #ff9c9c;
}

.gnavi li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 0;
    /*線になる丸の形状*/
    width: 100%;
    height: 5px;
    border-radius: 50%;
    background: #ff0000;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0.04, 1);
    /*X方向0.04、Y方向1*/
    transform-origin: center bottom;
    /*中央下部基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
    height: 2px;
    /*縦幅を変化*/
    border-radius: 0;
    /*丸みをなくす*/
    transform: scale(0.8, 1);
    /*X方向0.8、Y方向1にスケール拡大*/
}

.logo {
    z-index: 10000;
    height: 70px;
    position: fixed;
    margin-top: 38px;
    margin-left: 20px;
    width: 250px;
}

.header-line {
    margin-top: 113px;
    z-index: 11111;
    position: fixed;
    display: block;
    width: 100%;
    height: 10px;
    background-color: rgb(255, 63, 63);

}

/* お知らせ */
.news {
    z-index: 1;
    position: relative;
    background-color: rgb(255, 226, 226);
    top: 35px;
    height: 500px;
}

.news .news-text {
    font-size: 50px;
    font-family: 'KE';
    text-align: center;
}


ul.news-list {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px dotted #999;
    padding: 10px 0;
}

ul.news-list li {
    display: block;
    margin: 10px 10px;
}

ul.news-list li:nth-child(-n + 3) {
    flex-basis: 130px;
}

ul.news-list li:nth-child(2) {
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    text-align: center;
    background-color: #3c2fb7;
}

ul.newsList li:nth-child(3) {
    flex-basis: auto;
}

/* スライダー */
.slider {
    /*横幅94%で左右に余白を持たせて中央寄せ*/
    margin: 0 auto;
    padding-top: 150px;
}

.slider img {
    width: 60vw;
    /*スライダー内の画像を60vwにしてレスポンシブ化*/
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1000px;
    min-width: 400px;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    transition: all .5s;
    /*拡大や透過のアニメーションを0.5秒で行う*/
}

.slider .slick-slide.slick-center {
    transform: scale(1);
    /*中央の画像のサイズだけ等倍に*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    z-index: 1000;
    position: absolute;
    /*絶対配置にする*/
    top: 42%;
    cursor: pointer;
    /*マウスカーソルを指マークに*/
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;
    /*矢印の色*/
    border-right: 2px solid #666;
    /*矢印の色*/
    height: 15px;
    width: 15px;
    margin-top: 100px;
}

.slick-prev {
    /*戻る矢印の位置と形状*/
    left: 16.5%;
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印の位置と形状*/
    right: 16.5%;
    transform: rotate(45deg);
}


/*ドットナビゲーションの設定*/

.slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    /*ドットボタンのサイズ*/
    height: 8px;
    /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #ccc;
    /*ドットボタンの色*/
}

.slick-dots .slick-active button {
    background: #333;
    /*ドットボタンの現在地表示の色*/
}