@charset "utf-8";

/* フォント読み込み */
@font-face {
    font-family: 'Gn3';
    src: url(/font/genshingothic-20150607/GenShinGothic-P-Medium.ttf);
}

@font-face {
    font-family: 'NSJ';
    src: url(/font/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'KB';
    src: url(/font/Koruri-20210720/Koruri-Bold.ttf);
}

@font-face {
    font-family: 'KE';
    src: url(/font/Koruri-20210720/Koruri-Extrabold.ttf);
}

@font-face {
    font-family: 'KL';
    src: url(/font/Koruri-20210720/Koruri-Light.ttf);
}

@font-face {
    font-family: 'KR';
    src: url(/font/Koruri-20210720/Koruri-Regular.ttf);
}

@font-face {
    font-family: 'KS';
    src: url(/font/Koruri-20210720/Koruri-Semibold.ttf);
}

/* リセット */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

footer {
    position: relative;
}

.foo1 {
    width: 100%;
    height: 280px;
    background-color: rgb(255, 84, 84);
    padding-top: 29px;
    padding-bottom: 100px;
    text-align: center;
}

.foo1 ul li ul li {
    font-size: 13px;
    font-family: "KS";
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
    line-height: 40px;
    transition: 0.2s;
}

.foo1 ul li ul li a{
    color: #ffffff;
    transition: all 0.2s;
}

.foo1 ul li ul li a:hover{
    opacity: 0.5;
}

.foo1 .foo-all-ul{
    padding: 0  600px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

.foo1 ul li ul li {
    padding-top: 0;
    padding-bottom: 0;
}

.foo1 ul li h2{
    display: block;
    font-size: 17px;
}

.foo1 ul li h2 a {
    color: #ffffff;
}

.foo1 ul .foo-service {
    list-style: none;
}
.foo1 ul .foo-fee {
    list-style: none;
}
.foo1 ul .foo-shop {
    list-style: none;
}

.foo1 ul .foo-shop ul li a {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, auto);
}

.foo2 {
    background-color: rgb(255, 63, 63);
    width: 100%;
    height: 200px;
}

.foo2 .foo-text {
    padding-top: 30px;
    text-align: center;
}

.foo2 .foo-text .foo-sp,
.foo2 .foo-text p .map,
.foo2 .foo-text p .tel {
    font-family: "KS";
    color: rgb(255, 255, 255);
    transition: 0.5s;
    margin: 5px 0;
}

/* コピーライト */
.foo2 .CopyRight {
    color: rgb(255, 255, 255);
    display: block;
    position: relative;
    font-family: "KS";
    bottom: -25px;
    text-align: center;
}