@charset "utf-8";

/* フォント読み込み */
@font-face {
    font-family: 'Gn3';
    src: url(/font/genshingothic-20150607/GenShinGothic-P-Medium.ttf);
}

@font-face {
    font-family: 'NSJ';
    src: url(/font/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'KB';
    src: url(/font/Koruri-20210720/Koruri-Bold.ttf);
}

@font-face {
    font-family: 'KE';
    src: url(/font/Koruri-20210720/Koruri-Extrabold.ttf);
}

@font-face {
    font-family: 'KL';
    src: url(/font/Koruri-20210720/Koruri-Light.ttf);
}

@font-face {
    font-family: 'KR';
    src: url(/font/Koruri-20210720/Koruri-Regular.ttf);
}

@font-face {
    font-family: 'KS';
    src: url(/font/Koruri-20210720/Koruri-Semibold.ttf);
}

/* リセット */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* お知らせ */
.news-content {
    z-index: 994;
    position: relative;
    background-color: rgb(255, 226, 226);
    top: 35px;
    height: 300px;
    padding: 10px 0;
    margin-left: 19%;
    margin-right: 19%;
    margin-bottom: 1000px;
    overflow-y: scroll;
}

.news-text {
    font-size: 50px;
    font-family: 'KE';
    text-align: center;
    margin-top: 30px;
}

.news-content dl {
    padding-left: 30px;
    padding-right: 30px;
    font-family: "KS";   
}

.news-content dt {
    float: left;
    padding: 15px 0px;
    padding-right: 5px;
}

.news-content dd {
    border-bottom: 1px solid #ccc;
    padding: 15px 0px;
    margin-left: 220px;
}

.news-content dl dt .red{
    background-color:red;
    border-radius:5px;
    color:#fff;
    margin:0 20px;
    padding:5px 15px;
    text-decoration:none;
  }

  .news-content dl dt .blue{
    background-color:blue;
    border-radius:5px;
    color:#fff;
    margin:0 20px;
    padding:5px 15px;
    text-decoration:none;
  }

  .news-content dl dt .orange{
    background-color:rgb(255, 168, 45);
    border-radius:5px;
    color:#fff;
    margin:0 20px;
    padding:5px 15px;
    text-decoration:none;
  }